{{> header}}
{{> navbar}}

<body id=fin>
        <div id="cm">
        <h2>Pagina hecha por:</h2>
        <h3>Katherine Vega Vega</h3>
        <h3>4°F</h3>
        <h2>Profesor:</h2>
        <h3>Raul Alberto Toledo</h3>
 {{> footer}}